.box{
    background-color: aquamarine;
    width: 20px;
    height: 0ch;
}
.box_1{
    background-color: blue;
    width: 20px;
    height: 0ch;
}
.box_2{
    background-color: burlywood;
    width: 20px;
    height: 0ch;
}