p{
    color: aquamarine;
}
#para3{
    color: bisque;
}
.article{
    color: blanchedalmond;
}
.code{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

