#first{
    background-color: blueviolet;
    font-family: cursive;
}
#second{
  background-color: chocolate;
}
#main{
    background-color: bisque;
}
#footer{
    color: chartreuse;
}
#nav{
    color: blueviolet;
}