.container{
    display:grid;
    grid-template-rows: 200px 1fr 100px;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas: 
   "top top top"
   "burger burger items"
   "bottom bottom bottom";
   gap:2px;
   height:100vh;/*jitna size h page ka utna le lega*/
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    border: 2px solid pink;
}
.header{
    background-color: rgb(71, 158, 158);
    grid-area: top;
}
.footer{
background-color: rgb(122, 206, 154);
grid-area: bottom;
}
.sidemenu{
background-color: burlywood;
grid-area:burger;
}
.shoes{
background-color: rgb(11, 189, 129);
grid-area:items;
}